


    <div class="row">
        
        <div class="col s12">
            <p>
                USERS
                <tr *ngFor="let emp of service.list">
                    <td (click)="populateForm(emp)">[{{emp.Pc_Name}}]</td>                  
                </tr>
            </p>
        </div>

        <div class="col s6">
            <p>
                GROUPS USER IN
                <tr *ngFor="let emp of service.list">
                    <input name="MacAddress" #MacAddress="ngModel" [(ngModel)]="service.formData.MacAddress" class="form-controls">                 
                 </tr>
                 <button class="waves-effect waves-light btn grey darken-1" (click)="onCreate1()">ADD USER</button>
            </p>
        </div>

      

        <div class="col s6">
            <p>
                USERS JOBS

                <tr *ngFor="let emp of service.list">
                    <input name="IpAddress" #IpAddress="ngModel" [(ngModel)]="service.formData.IpAddress" class="form-controls">                    
                </tr>
                <button class="waves-effect waves-light btn grey darken-1" (click)="onCreate2()">ADDJOB</button>
            </p>
        </div>
        
      </div>