


    <div class="row">
        
        <div class="col s12">
            <p>
                GROUPS
                <tr *ngFor="let emp of service.list">
                    <td (click)="populateForm(emp)">[{{emp.Name}}]</td>                 
                  </tr>
            </p>
        </div>

        <div class="col s6">
            <p>
                USERS
                <tr *ngFor="let emp of service.list">
                    <td (click)="populateForm(emp)">[{{emp.Name}}]</td>                 
                  </tr>
                 <button class="waves-effect waves-light btn grey darken-1" (click)="onCreate1()">ADD USER</button>
            </p>
        </div>

      

        <div class="col s6">
            <p>
                JOBS
                <tr *ngFor="let emp of service.list">
                    <td (click)="populateForm(emp)">[{{emp.Name}}]</td>                 
                  </tr>
                
                <button class="waves-effect waves-light btn grey darken-1" (click)="onCreate2()">ADDJOB</button>
            </p>
        </div>
        
      </div>
  
   


   
  
   

